.hero {
	height: 97vh;
	position: relative;
	width: 100%;
}

.heroContainer {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 2.5rem;
}

.heroBg {
	position: absolute;
	top: 0;
	right: 0;
}

.heroContent {
	display: flex;
	align-items: center;
}

.heroText {
	display: flex;
	flex-direction: column;
	max-width: 50rem;
}

.heroText strong {
	color: #010103;
	font-family: Rubik, sans-serif;
	font-size: 2rem;
}

.heroText h1 {
	color: #010103;
	font-family: Poppins, sans-serif;
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 2.3rem;
	margin-top: 1rem;
}

.heroText h1 span {
	color: #ff4d30;
}

.heroText p {
	color: #706f7b;
	font-family: Rubik, sans-serif;
	font-size: 1.3rem;
	line-height: 1.3;
	margin-bottom: 3rem;
}

.heroImg {
	position: relative;
	width: 64%;
	margin-top: 5rem;
}

.heroButtons {
	display: flex;
	align-items: center;
}

.link {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 168px;
	height: 44px;
	border-radius: 12px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.43;
	background-color: #3470ff;
	border: none;
	cursor: pointer;
	transition: background-color 250ms linear;
}

.link:hover {
	background-color: #0b44cd;
}
